apiVersion: serving.kserve.io/v1alpha1
kind: LLMInferenceServiceConfig
metadata:
  name: kserve-config-llm-worker-data-parallel
spec:
  worker:
    containers:
      - image: ghcr.io/llm-d/llm-d:0.0.8
        imagePullPolicy: IfNotPresent
        name: main
        ports:
          - containerPort: 8000
            protocol: TCP
        stdin: true
        tty: true
        command:
          - "/bin/sh"
          - "-c"
        args:
          - |-

            START_RANK=$(( ${LWS_WORKER_INDEX:-0} * {{ or .Spec.Parallelism.DataLocal 1 }} ))
            if [ "${LWS_WORKER_INDEX:-0}" -eq 0 ]; then
              #################
              # Leader-only launch
              #################
              vllm serve \
                {{ .Spec.Model.Name }} \
                --port 8000 \
                --api-server-count 4 \
                --disable-log-requests \
                {{- if .Spec.Parallelism.Expert -}}--enable-expert-parallel \{{- end }}
                {{- if .Spec.Parallelism.Tensor -}}--tensor-parallel-size {{ .Spec.Parallelism.Tensor }} \{{- end }}
                --data-parallel-size {{ or .Spec.Parallelism.Data 1 }} \
                --data-parallel-size-local {{ or .Spec.Parallelism.DataLocal 1 }} \
                --data-parallel-address $(LWS_LEADER_ADDRESS) \
                --data-parallel-rpc-port {{ if .Spec.Parallelism.DataRPCPort }}{{ .Spec.Parallelism.DataRPCPort }}{{ else }}5555{{- end }} \
                --data-parallel-start-rank $START_RANK \
                --trust-remote-code
            else
              #################
              # Worker-only launch
              #################
              vllm serve \
                {{ .Spec.Model.Name }} \
                --port 8000 \
                --disable-log-requests \
                {{- if .Spec.Parallelism.Expert }}--enable-expert-parallel \{{- end }}
                {{- if .Spec.Parallelism.Tensor }}--tensor-parallel-size {{ .Spec.Parallelism.Tensor }} \{{- end }}
                --data-parallel-size {{ or .Spec.Parallelism.Data 1 }} \
                --data-parallel-size-local {{ or .Spec.Parallelism.DataLocal 1 }} \
                --data-parallel-address $(LWS_LEADER_ADDRESS) \
                --data-parallel-rpc-port {{ if .Spec.Parallelism.DataRPCPort }}{{ .Spec.Parallelism.DataRPCPort }}{{ else }}5555{{- end }} \
                --data-parallel-start-rank $START_RANK \
                --trust-remote-code \
                --headless
            fi
        env:
          - name: HOME
            value: /home
          - name: VLLM_LOGGING_LEVEL
            value: INFO
          - name: HF_HUB_CACHE
            value: /models
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
              - "IPC_LOCK"
              - "SYS_RAWIO"
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: FallbackToLogsOnError
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 120
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 60
        volumeMounts:
          - mountPath: /home
            name: home
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /models
            name: model-cache
    terminationGracePeriodSeconds: 30
    volumes:
      - emptyDir: { }
        name: home
      - emptyDir:
          medium: Memory
          sizeLimit: 1Gi
        name: dshm
      - emptyDir: { }
        name: model-cache