apiVersion: serving.kserve.io/v1alpha1
kind: LLMInferenceServiceConfig
metadata:
  name: kserve-config-llm-prefill-template
spec:
  prefill:
    template:
      containers:
        - image: ghcr.io/llm-d/llm-d-dev:v0.2.2
          imagePullPolicy: IfNotPresent
          name: main
          ports:
            - containerPort: 8000
              protocol: TCP
          command:
            - vllm
            - serve
            - /mnt/models
          args:
            - --served-model-name
            - "{{ .Spec.Model.Name }}"
            - --port
            - "8000"
            - --disable-log-requests
            - --enable-ssl-refresh
            - --ssl-certfile
            - /etc/ssl/certs/tls.crt
            - --ssl-keyfile
            - /etc/ssl/certs/tls.key
          env:
            - name: HOME
              value: /home
            - name: VLLM_LOGGING_LEVEL
              value: INFO
            - name: HF_HUB_CACHE
              value: /models
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
              scheme: HTTPS
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
              scheme: HTTPS
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 60
          volumeMounts:
            - mountPath: /home
              name: home
            - mountPath: /dev/shm
              name: dshm
            - mountPath: /models
              name: model-cache
            - mountPath: /etc/ssl/certs
              name: tls-certs
              readOnly: true
      terminationGracePeriodSeconds: 30
      volumes:
        - emptyDir: { }
          name: home
        - emptyDir:
            medium: Memory
            sizeLimit: 1Gi
          name: dshm
        - emptyDir: { }
          name: model-cache
        - name: tls-certs
          secret:
            secretName: "{{ ChildName .ObjectMeta.Name `-kserve-self-signed-certs` }}"
