.center {
  align-items: center;
}

.small-padding-right {
  padding-right: 8px;
}

.key {
  min-width: 140px;
  margin: 0.2rem 0;
}

.value {
  margin: 0.2rem 0;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

div.lib-flex-grow {
  padding-top: 1.5rem;
}
