[flake8]
max-line-length = 120
extend-ignore = E203,E501,E701, B017
exclude =
  .venv,
  venv,
  kserve/kserve/exceptions.py,
  kserve/kserve/configuration.py,
  kserve/kserve/rest.py,
  kserve/kserve/api_client.py,
  kserve/test/test_v1*.py,
  kserve/kserve/__init__.py,
  kserve/test/__init__.py,
  kserve/test/test_knative*.py,
  kserve/kserve/protocol/grpc/grpc_predict_v2*.py
  *_pb2.py
