<lib-details-list-item
  key="Status"
  [icon]="statusIcon"
  valueTooltip="Status is deduced from the Ready condition"
>
  {{ status }}
</lib-details-list-item>

<lib-details-list-item key="URL external" [copyValue]="externalUrl">
  {{ externalUrl }}
</lib-details-list-item>

<lib-details-list-item key="URL internal" [copyValue]="internalUrl">
  {{ internalUrl }}
</lib-details-list-item>

<lib-details-list-item key="Component" [chipsList]="components">
</lib-details-list-item>

<lib-details-list-item *ngIf="basePredictor?.storageUri" key="Storage URI">
  {{ basePredictor?.storageUri }}
</lib-details-list-item>

<lib-details-list-item key="Runtime">
  {{ predictorType }} {{ basePredictor.runtimeVersion }}
</lib-details-list-item>

<lib-details-list-item key="Protocol Version">
  {{ basePredictor.protocolVersion }}
</lib-details-list-item>

<lib-panel *ngIf="!svc.status" class="lib-panel">
  This InferenceService has no status.
</lib-panel>

<lib-conditions-table
  *ngIf="svc?.status"
  [conditions]="svc.status?.conditions"
  title="InferenceService Conditions"
  class="negative-margin page-padding"
></lib-conditions-table>

<lib-advanced-options text="Components status" *ngIf="svc?.status">
  <app-serving-component-overview
    componentName="predictor"
    [ownedObjs]="ownedObjects?.predictor"
    [status]="svc?.status?.components?.predictor"
  ></app-serving-component-overview>

  <app-serving-component-overview
    *ngIf="svc?.status?.components?.transformer"
    componentName="transformer"
    [ownedObjs]="ownedObjects?.transformer"
    [status]="svc?.status?.components?.transformer"
  ></app-serving-component-overview>

  <app-serving-component-overview
    *ngIf="svc?.status?.components?.explainer"
    componentName="explainer"
    [ownedObjs]="ownedObjects?.explainer"
    [status]="svc?.status?.components?.explainer"
  ></app-serving-component-overview>
</lib-advanced-options>
