{{- if .Values.kserve.localmodel.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance:  kserve-localmodel-controller-manager
    app.kubernetes.io/managed-by:  kserve-localmodel-controller-manager
    app.kubernetes.io/name:  kserve-localmodel-controller-manager
  name: kserve-localmodel-controller-manager
  namespace: {{ .Release.Namespace }}
{{- end }}
