apiVersion: serving.kserve.io/v1alpha1
kind: ClusterServingRuntime
metadata:
  name: kserve-predictiveserver
spec:
  annotations:
    prometheus.kserve.io/port: '8080'
    prometheus.kserve.io/path: "/metrics"
  supportedModelFormats:
    - name: sklearn
      version: "1"
      autoSelect: true
      priority: 3
    - name: xgboost
      version: "1"
      autoSelect: true
      priority: 3
    - name: lightgbm
      version: "3"
      autoSelect: true
      priority: 3
  protocolVersions:
    - v1
    - v2
  containers:
    - name: kserve-container
      image: kserve-predictiveserver:replace
      args:
        - --model_name={{.Name}}
        - --model_dir=/mnt/models
        - --http_port=8080
        - --framework={{.Annotations.modelFormat}}
        - --nthread=1
      securityContext:
        allowPrivilegeEscalation: false
        privileged: false
        runAsNonRoot: true
        capabilities:
          drop:
            - ALL
      resources:
        requests:
          cpu: "1"
          memory: 2Gi
        limits:
          cpu: "1"
          memory: 2Gi
