apiVersion: serving.kserve.io/v1alpha1
kind: ClusterServingRuntime
metadata:
  name: kserve-mlserver
spec:
  supportedModelTypes:
    - name: sklearn
      version: "0"
    - name: xgboost
      version: "1"
  containers:
    - name: kserve-container
      image: mlserver:replace
      env:
        - name: "MLSERVER_MODEL_IMPLEMENTATION"
          value: "{{.Labels.modelClass}}"
        - name: "MLSERVER_MODEL_NAME"
          value: "{{.Name}}"
        - name: "MLSERVER_MODEL_URI"
          value: "/mnt/models"
        - name: "MLSERVER_HTTP_PORT"
          value: "8080"
        - name: "MLSERVER_GRPC_PORT"
          value: "9000"
        - name: "MODELS_DIR"
          value: "/mnt/models"
      resources:
        requests:
          cpu: "1"
          memory: 2Gi
        limits:
          cpu: "1"
          memory: 2Gi
