inferenceserviceConfig:
  Example: ""
kserveControllerManager:
  kubeRbacProxy:
    args:
    - --secure-listen-address=0.0.0.0:8443
    - --upstream=http://127.0.0.1:8080/
    - --logtostderr=true
    - --v=10
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    image:
      repository: quay.io/brancz/kube-rbac-proxy
      tag: v0.18.0
  manager:
    args:
    - --metrics-addr=127.0.0.1:8080
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    env:
      secretName: kserve-webhook-server-cert
    image:
      repository: kserve/kserve-controller
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 200Mi
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  serviceAccount:
    annotations: {}
kserveControllerManagerMetricsService:
  ports:
  - name: https
    port: 8443
    targetPort: https
  type: ClusterIP
kserveControllerManagerService:
  ports:
  - port: 8443
    protocol: TCP
    targetPort: https
  type: ClusterIP
kserveLlmisvcControllerManager:
  manager:
    args:
    - --metrics-addr=127.0.0.1:8443
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
    image:
      repository: kserve/llmisvc-controller
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 300Mi
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
kserveLocalmodelControllerManager:
  manager:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    image:
      repository: kserve/kserve-localmodel-controller
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 200Mi
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  serviceAccount:
    annotations: {}
kserveLocalmodelnodeAgent:
  manager:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    image:
      repository: kserve/kserve-localmodelnode-agent
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 200Mi
  nodeSelector:
    kserve/localmodel: worker
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  serviceAccount:
    annotations: {}
kserveWebhookServerService:
  ports:
  - port: 443
    targetPort: webhook-server
  type: ClusterIP
kubernetesClusterDomain: cluster.local
llmisvcControllerManager:
  serviceAccount:
    annotations: {}
llmisvcControllerManagerService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: metrics
  type: ClusterIP
llmisvcWebhookServerService:
  ports:
  - port: 443
    targetPort: webhook-server
  type: ClusterIP

# Local model configuration
kserve:
  localmodel:
    enabled: false
