kserveControllerManager:
  kubeRbacProxy:
    args:
    - --secure-listen-address=0.0.0.0:8443
    - --upstream=http://127.0.0.1:8080/
    - --logtostderr=true
    - --v=10
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    image:
      repository: quay.io/brancz/kube-rbac-proxy
      tag: v0.18.0
  manager:
    args:
    - --metrics-addr=127.0.0.1:8080
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    env:
      secretName: kserve-webhook-server-cert
    image:
      repository: kserve/kserve-controller
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 200Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  tolerations: []
  topologySpreadConstraints: []
kserveControllerManagerMetricsService:
  ports:
  - name: https
    port: 8443
    targetPort: https
  type: ClusterIP
kserveControllerManagerService:
  ports:
  - port: 8443
    protocol: TCP
    targetPort: https
  type: ClusterIP
kserveLlmisvcControllerManager:
  manager:
    args:
    - --metrics-addr=127.0.0.1:8443
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
    image:
      repository: kserve/llmisvc-controller
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 300Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  tolerations: []
  topologySpreadConstraints: []
kserveLocalmodelControllerManager:
  manager:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    image:
      repository: kserve/kserve-localmodel-controller
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 200Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  tolerations: []
  topologySpreadConstraints: []
kserveLocalmodelnodeAgent:
  manager:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    image:
      repository: kserve/kserve-localmodelnode-agent
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 300Mi
      requests:
        cpu: 100m
        memory: 200Mi
  nodeSelector:
    kserve/localmodel: worker
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  tolerations: []
  topologySpreadConstraints: []
kserveWebhookServerService:
  ports:
  - port: 443
    targetPort: webhook-server
  type: ClusterIP
kubernetesClusterDomain: cluster.local
llmisvcMgrSvc:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: metrics
  type: ClusterIP
llmisvcWebhookSvc:
  ports:
  - port: 443
    targetPort: webhook-server
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ''
kserve:
  agent:
    image: kserve/agent
    tag: latest
  router:
    image: kserve/router
    tag: latest
    imagePullPolicy: IfNotPresent
    imagePullSecrets: []
  localmodel:
    enabled: false
    jobNamespace: kserve-localmodel-jobs
    jobTTLSecondsAfterFinished: 3600
    disableVolumeManagement: false
    securityContext:
      fsGroup: 1000
    agent:
      reconcilationFrequencyInSecs: 60
  servingruntime:
    modelNamePlaceholder: '{{.Name}}'
    huggingfaceserver_multinode:
      image: kserve/huggingfaceserver
      tag: latest-gpu
      imagePullPolicy: IfNotPresent
      shm:
        enabled: false
    huggingfaceserver:
      image: kserve/huggingfaceserver
      tag: latest
      imagePullPolicy: IfNotPresent
      devShm:
        enabled: false
      hostIPC:
        enabled: false
    lgbserver:
      image: kserve/lgbserver
      tag: latest
      imagePullPolicy: IfNotPresent
    mlserver:
      image: docker.io/seldonio/mlserver
      tag: 1.5.0
      imagePullPolicy: IfNotPresent
      modelClassPlaceholder: '{{.Labels.modelClass}}'
    paddleserver:
      image: kserve/paddleserver
      tag: latest
      imagePullPolicy: IfNotPresent
    pmmlserver:
      image: kserve/pmmlserver
      tag: latest
      imagePullPolicy: IfNotPresent
    sklearnserver:
      image: kserve/sklearnserver
      tag: latest
      imagePullPolicy: IfNotPresent
    tensorflow:
      image: tensorflow/serving
      tag: 2.6.2
      imagePullPolicy: IfNotPresent
    torchserve:
      image: pytorch/torchserve-kfs
      tag: 0.9.0
      imagePullPolicy: IfNotPresent
      serviceEnvelopePlaceholder: kservev2
    tritonserver:
      image: nvcr.io/nvidia/tritonserver
      tag: 23.05-py3
      imagePullPolicy: IfNotPresent
    xgbserver:
      image: kserve/xgbserver
      tag: latest
      imagePullPolicy: IfNotPresent
