certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
kubernetes >= 9.0.0
tornado >= 1.4.1
argparse >= 1.4.0
minio >= 4.0.9
google-cloud-storage >= 1.16.0
azure-storage-blob >= 2.1.0
adal >= 1.2.2
table_logger >= 0.3.4
numpy
