---
apiVersion: v1
data:
  config-defaults.yaml: |
    podsPerRuntime: {{ .Values.kserve.modelmesh.config.podPerRuntime }}
    headlessService: true
    modelMeshImage:
      name: {{ .Values.kserve.modelmesh.config.modelmeshImage }}
      tag: {{ .Values.kserve.modelmesh.config.modelmeshImageTag }}
    modelMeshResources:
      requests:
        cpu: "300m"
        memory: "448Mi"
      limits:
        cpu: "3"
        memory: "448Mi"
    restProxy:
      enabled: true
      port: 8008
      image:
        name: {{ .Values.kserve.modelmesh.config.restProxyImage }}
        tag: {{ .Values.kserve.modelmesh.config.restProxyImageTag }}
      resources:
        requests:
          cpu: "50m"
          memory: "96Mi"
        limits:
          cpu: "1"
          memory: "512Mi"
    storageHelperImage:
      name: {{ .Values.kserve.modelmesh.config.modelmeshRuntimeAdapterImage }}
      tag: {{ .Values.kserve.modelmesh.config.modelmeshRuntimeAdapterImageTag }}
      command: ["/opt/app/puller"]
    storageHelperResources:
      requests:
        cpu: "50m"
        memory: "96Mi"
      limits:
        cpu: "2"
        memory: "512Mi"
    serviceAccountName: modelmesh
    metrics:
      enabled: true
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: modelmesh-controller
    app.kubernetes.io/managed-by: modelmesh-controller
    app.kubernetes.io/name: modelmesh-controller
  name: model-serving-config-defaults
---
apiVersion: v1
data:
  agent: |-
    {
        "image" : "{{ .Values.kserve.agent.image }}",
        "memoryRequest": "100Mi",
        "memoryLimit": "1Gi",
        "cpuRequest": "100m",
        "cpuLimit": "1"
    }
  batcher: |-
    {
        "image" : "{{ .Values.kserve.agent.image }}",
        "memoryRequest": "1Gi",
        "memoryLimit": "1Gi",
        "cpuRequest": "1",
        "cpuLimit": "1"
    }
  credentials: |-
    {
       "gcs": {
           "gcsCredentialFileName": "gcloud-application-credentials.json"
       },
       "s3": {
           "s3AccessKeyIDName": "{{ .Values.kserve.storage.s3.accessKeyIdName }}",
           "s3SecretAccessKeyName": "{{ .Values.kserve.storage.s3.secretAccessKeyName }}"
       }
    }
  deploy: |-
    {
      "defaultDeploymentMode": "{{ .Values.kserve.controller.deploymentMode }}"
    }
  explainers: |-
    {
        "alibi": {
            "image" : "{{ .Values.kserve.servingruntime.alibi.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.alibi.defaultVersion }}"
        },
        "aix": {
            "image" : "{{ .Values.kserve.servingruntime.aix.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.aix.defaultVersion }}"
        },
        "art": {
            "image" : "{{ .Values.kserve.servingruntime.art.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.art.defaultVersion }}"
        }
    }
  ingress: |-
    {
        "ingressGateway" : "{{ .Values.kserve.controller.gateway.ingressGateway.gateway }}",
        "ingressService" : "{{ .Values.kserve.controller.gateway.ingressGateway.gatewayService }}",
        "localGateway" : "{{ .Values.kserve.controller.gateway.localGateway.gateway }}",
        "localGatewayService" : "{{ .Values.kserve.controller.gateway.localGateway.gatewayService }}",
        "ingressDomain"  : "{{ .Values.kserve.controller.gateway.domain }}"
    }
  logger: |-
    {
        "image" : "{{ .Values.kserve.agent.image }}",
        "memoryRequest": "100Mi",
        "memoryLimit": "1Gi",
        "cpuRequest": "100m",
        "cpuLimit": "1",
        "defaultUrl": "http://default-broker"
    }
  predictors: |-
    {
        "tensorflow": {
            "image": "{{ .Values.kserve.servingruntime.tfserving.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.tfserving.defaultVersion }}",
            "defaultGpuImageVersion": "{{ .Values.kserve.servingruntime.tfserving.defaultGpuVersion }}",
            "defaultTimeout": "60",
            "supportedFrameworks": [
              "tensorflow"
            ],
            "multiModelServer": false
        },
        "sklearn": {
          "v1": {
            "image": "{{ .Values.kserve.servingruntime.sklearn.v1.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.sklearn.v1.defaultVersion }}",
            "supportedFrameworks": [
              "sklearn"
            ],
            "multiModelServer": true
          },
          "v2": {
            "image": "{{ .Values.kserve.servingruntime.sklearn.v2.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.sklearn.v2.defaultVersion }}",
            "supportedFrameworks": [
              "sklearn"
            ],
            "multiModelServer": false
          }
        },
        "xgboost": {
          "v1": {
            "image": "{{ .Values.kserve.servingruntime.xgboost.v1.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.xgboost.v1.defaultVersion }}",
            "supportedFrameworks": [
              "xgboost"
            ],
            "multiModelServer": true
          },
          "v2": {
            "image": "{{ .Values.kserve.servingruntime.xgboost.v2.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.xgboost.v2.defaultVersion }}",
            "supportedFrameworks": [
              "xgboost"
            ],
            "multiModelServer": false
          }
        },
        "pytorch": {
          "v1" : {
            "image": "{{ .Values.kserve.servingruntime.pytorch.v1.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.pytorch.v1.defaultVersion }}",
            "defaultGpuImageVersion": "{{ .Values.kserve.servingruntime.pytorch.v1.defaultGpuVersion }}",
            "supportedFrameworks": [
              "pytorch"
            ],
            "multiModelServer": false
          },
          "v2" : {
            "image": "{{ .Values.kserve.servingruntime.pytorch.v2.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.pytorch.v2.defaultVersion }}",
            "defaultGpuImageVersion": "{{ .Values.kserve.servingruntime.pytorch.v2.defaultGpuVersion }}",
            "supportedFrameworks": [
              "pytorch"
            ],
            "multiModelServer": false
          }
        },
        "triton": {
            "image": "{{ .Values.kserve.servingruntime.triton.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.triton.defaultVersion }}",
            "supportedFrameworks": [
              "tensorrt",
              "tensorflow",
              "onnx",
              "pytorch"
            ],
            "multiModelServer": true
        },
        "pmml": {
            "image": "{{ .Values.kserve.servingruntime.pmml.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.pmml.defaultVersion }}",
            "supportedFrameworks": [
              "pmml"
            ],
            "multiModelServer": false
        },
        "lightgbm": {
            "image": "{{ .Values.kserve.servingruntime.lightgbm.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.lightgbm.defaultVersion }}",
            "supportedFrameworks": [
              "lightgbm"
            ],
            "multiModelServer": false
        },
        "paddle": {
            "image": "{{ .Values.kserve.servingruntime.paddle.image }}",
            "defaultImageVersion": "{{ .Values.kserve.servingruntime.paddle.defaultVersion }}",
            "supportedFrameworks": [
              "paddle"
            ],
            "multiModelServer": false
        }
    }
  storageInitializer: |-
    {
        "image" : "{{ .Values.kserve.storage.image }}",
        "memoryRequest": "100Mi",
        "memoryLimit": "1Gi",
        "cpuRequest": "100m",
        "cpuLimit": "1"
    }
  transformers: |-
    {
    }
kind: ConfigMap
metadata:
  name: inferenceservice-config
  namespace: {{ .Release.Namespace }} 
