[tool.poetry]
name = "pmmlserver"
version = "0.10.0rc1"
description = "Model Server implementation for PMML. Not intended for use outside KServe Frameworks Images."
authors = ["AnyISalIn <anyisalin@gmail.com>"]
license = "https://github.com/kserve/kserve/blob/master/LICENSE"
readme = "README.md"
packages = [
    { include = "pmmlserver" },
]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
kserve = {path = "../kserve", develop = true}
jpmml-evaluator = "~0.5.1"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
mypy = "^0.991"
pytest-asyncio = "^0.20.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
