{{- if .Values.certManager.enabled | default .Values.kserve.createSharedResources }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kserve.labels" . | nindent 4 }}
spec:
  selfSigned: {}
{{- end }}
