apiVersion: apps/v1
kind: Deployment
metadata:
  name: llmisvc-controller-manager
  namespace: kserve
spec:
  template:
    spec:
      containers:
        - name: manager
          image: kserve/llmisvc-controller:latest
          imagePullPolicy: IfNotPresent
