apiVersion: apps/v1
kind: Deployment
metadata:
  name: kserve-localmodel-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kserve-localmodel-resources.labels" . | nindent 4 }}
    app.kubernetes.io/component: localmodel
    control-plane: "kserve-localmodel-controller-manager"
    controller-tools.k8s.io: "1.0"
spec:
  selector:
    matchLabels:
      control-plane: "kserve-localmodel-controller-manager"
      controller-tools.k8s.io: "1.0"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "kserve-localmodel-controller-manager"
        control-plane: "kserve-localmodel-controller-manager"
        controller-tools.k8s.io: "1.0"
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - name: manager
        image: "{{ .Values.localmodel.controller.containers.manager.image }}:{{ .Values.localmodel.controller.containers.manager.tag | default .Values.kserve.version }}"
        imagePullPolicy: {{ .Values.localmodel.controller.containers.manager.imagePullPolicy }}
        resources: {{- toYaml .Values.localmodel.controller.containers.manager.resources | nindent 10 }}
        command:
          - /manager

        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace

        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 30
          timeoutSeconds: 5

        ports:
          - containerPort: 9443
            name: webhook-server
            protocol: TCP

        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 30
          periodSeconds: 5
          timeoutSeconds: 5

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true

        volumeMounts:
          - mountPath: /tmp/k8s-webhook-server/serving-certs
            name: cert
            readOnly: true

      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

      serviceAccountName: kserve-localmodel-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: localmodel-webhook-server-cert
