apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: localmodel
    app.kubernetes.io/name: kserve
  name: localmodel-webhook-server-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 443
    targetPort: webhook-server
  selector:
    control-plane: kserve-localmodel-controller-manager
