apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: llmisvc-leader-election-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
