name: Go

on:
  push:
    branches: [master, release*]
  pull_request:
    branches: []
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Test
        id: test
        run: |
          export GOPATH=/home/runner/go
          export PATH=$PATH:/usr/local/kubebuilder/bin:/home/runner/go/bin
          wget -O $GOPATH/bin/yq https://github.com/mikefarah/yq/releases/download/v4.28.1/yq_linux_amd64
          chmod +x $GOPATH/bin/yq
          make test
          ./coverage.sh
          echo ::set-output name=coverage::$(./coverage.sh | tr -s '\t' | cut -d$'\t' -f 3)

      - name: Print coverage
        run: |
          echo "Coverage output is ${{ steps.test.outputs.coverage }}"

      - name: Update coverage badge
        if: github.ref == 'refs/heads/master'
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 5174bd748ac63a6e4803afea902e9810
          filename: coverage.json
          label: coverage
          message: ${{ steps.test.outputs.coverage }}
          color: green