name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: []

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Go lint
      run: |
        make fmt

    - name: Test
      run: |
        export GOPATH=/home/runner/go
        export PATH=$PATH:/usr/local/kubebuilder/bin:/home/runner/go/bin
        wget -O $GOPATH/bin/yq https://github.com/mikefarah/yq/releases/download/3.3.2/yq_linux_amd64
        chmod +x $GOPATH/bin/yq
        make test
