name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: flake8 Lint
        uses: py-actions/flake8@v1
        with:
          max-line-length: "120"
          exclude: "docs/samples/v1alpha2/onnx/assets/*.py,python/kfserving/test/test_v1*.py,python/kfserving/kfserving/__init__.py,python/kfserving/test/test_knative*.py"
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Test with pytest
      run: |
        pip install pytest
        pip install pytest-cov
        pip install --upgrade pytest-tornasync
        cd python
        pip install -e ./kfserving
        pip install -e ./aixexplainer
        pip install -e ./alibiexplainer
        pip install h5py==2.9.0
        pip install -e ./sklearnserver
        pip install -e ./xgbserver
        pip install -e ./pytorchserver
        pip install -e ./pmmlserver
        pip install -e ./lgbserver
        pip install -e ./paddleserver[test]
        pytest
