name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: []
jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: flake8 Lint
        uses: py-actions/flake8@v1
        with:
          max-line-length: "120"
          exclude: "docs/samples/v1beta1/onnx/assets/*.py,python/kserve/test/test_v1*.py,python/kserve/kserve/__init__.py,python/kserve/test/test_knative*.py"
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Test with pytest
      run: |
        cd python
        pip install -e ./kserve[test]
        pytest --cov=kserve ./kserve
        pip install -e ./sklearnserver
        pytest --cov=sklearnserver ./sklearnserver
        pip install -e ./xgbserver
        pytest --cov=xgbserver ./xgbserver
        pip install -e ./pytorchserver
        pytest --cov=pytorchserver ./pytorchserver
        pip install -e ./pmmlserver
        pytest --cov=pmmlserver ./pmmlserver
        pip install -e ./lgbserver
        pytest --cov=lgbserver ./lgbserver
        pip install -e ./paddleserver[test]
        pytest --cov=paddleserver ./paddleserver
        pip install -e ./alibiexplainer
        pytest --cov=alibiexplainer ./alibiexplainer
